$direction: "top", "right", "bottom", "left";
$name_size: (
    "smallest": 4px,
    "smaller": 8px,
    "small": 12px,
    "normal": 16px,
    "big": 24px,
    "bigger": 32px,
    "biggest": 48px
);

//margin
/*
    margin-{方向}-{大きさ又}を指定して使う
*/
@each $dire in $direction {
    @each $name, $size in $name_size {
        .margin-#{$dire}-#{$name} {
            margin-#{$dire}: $size;
        }
    }
    .margin-#{$dire}-auto {
        margin-#{$dire}: auto;
    }
}
/**************************************************************/

//Layout property
%layout-property {
    $items_property: flex-start, flex-end, center, stretch;
    $content_property: flex-start, flex-end, center, stretch, space-between, space-around, space-evenly;
    @each $property in $items_property {
        &.--align-items-#{$property} {
            align-items: $property;
        }
        & > .--align-self-#{$property} {
            align-self: $property;
        }
        &.--justify-items-#{$property} {
            justify-content: $property;
        }
        & > .--justify-self-#{$property} {
            justify-self: $property;
        }
    }
    @each $property in $content_property {
        &.--justify-content-#{$property} {
            justify-content: $property;
        }
        &.--align-content-#{$property} {
            align-items: $property;
        }
    }
}

//Flex
.layout-flex {
    @extend %layout-property;
    display: flex;
    &.--flex-direction-column {
        flex-direction: column;
    }
    &.--flex-direction-row {
        flex-direction: row;
    }
}
/**************************************************************/

//Grid
.layout-grid {
    @extend %layout-property;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/**************************************************************/
