%c-circle-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $accent-color;
  color: white;
  box-shadow: 0 12px 23px -9px $black;
  position: relative;
}

.c-add-button {
  @extend %c-circle-button;
  &:before {
    content: "";
    width: 14px;
    border-bottom: solid;
    color: $base-color;
    position: absolute;
    top: 24px;
    left: 19px;
  }
  &:after {
    content: "";
    height: 14px;
    border-left: solid;
    color: $base-color;
    position: absolute;
    top: 18px;
    left: 25px;
  }
  &:hover {
    cursor: pointer;
    background-color: #43b37e;
  }
}

.c-esc-button {
  @extend %c-circle-button;
  &:before {
    content: "";
    width: 14px;
    border-bottom: solid;
    color: $base-color;
    position: absolute;
    transform: rotateZ(45deg);
    top: 24px;
    left: 19px;
  }
  &:after {
    content: "";
    height: 14px;
    border-left: solid;
    color: $base-color;
    position: absolute;
    transform: rotateZ(45deg);
    top: 18px;
    left: 25px;
  }
  &:hover {
    cursor: pointer;
    background-color: #43b37e;
  }
}
