%c-circle-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  color: white;
  position: relative;
}

@mixin c-more-tag($width: 0, $height: 0, $before_top: 0, $after_top: 0, $before_left: 0, $after_left: 0) {
  position: relative;
  &:before {
    content: "";
    width: $width;
    border-bottom: solid;
    color: $base-color;
    position: absolute;
    top: $before_top;
    left: $before_left;
  }
  &:after {
    content: "";
    height: $height;
    border-left: solid;
    color: $base-color;
    position: absolute;
    top: $after_top;
    left: $after_left;
  }
}

.c-more-tag {
  @include c-more-tag(
    $width: 8px,
    $height: 8px,
    $before_top: 0,
    $after_top: -3px,
    $before_left: -3px,
    $after_left: 0
  );
}

.c-more-tag--sidebar {
  @include c-more-tag(
    $width: 8px,
    $height: 8px,
    $before_top: 2.3px,
    $after_top: 0,
    $before_left: 17.4px,
    $after_left: 19.7px
  );
}

.c-add-button {
  @extend %c-circle-button;
  background-color: $accent-color;
  box-shadow: 0 12px 23px -9px $black;
  &:before {
    content: "";
    width: 14px;
    border-bottom: solid;
    color: $base-color;
    position: absolute;
    top: 24px;
    left: 19px;
  }
  &:after {
    content: "";
    height: 14px;
    border-left: solid;
    color: $base-color;
    position: absolute;
    top: 18px;
    left: 25px;
  }
  &:hover {
    cursor: pointer;
    background-color: #43b37e;
  }
}

.c-esc-button {
  @extend %c-circle-button;
  &:before {
    content: "";
    width: 14px;
    border-bottom: solid;
    color: $black;
    position: absolute;
    transform: rotateZ(45deg);
    top: 24px;
    left: 19px;
  }
  &:after {
    content: "";
    height: 14px;
    border-left: solid;
    color: $black;
    position: absolute;
    transform: rotateZ(45deg);
    top: 18px;
    left: 25px;
  }
  &:hover {
    cursor: pointer;
    background-color: $base-sub-color;
  }
}

.c-unread-box {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  background-color: $accent-color;
  color: white;
  border-radius: 50%;
}