$main-color: #f57d00;
$sub-color: #ff9900;
$accent-color: rgba(0, 150, 128,1);
$accent-transparent-color: rgba(0, 150, 128,0.15);
$base-color: #ffffff;
$base-sub-color: #f2f2f2;

$gray: rgba(0, 0, 0, 0.12);
$black: rgba(0, 0, 0, 0.87);

$inner-width: 830px;
